# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore all VS Code spaces.
*.code-workspace

# Ignore generated headers in ffi
ffi/struct_printer/gen/*.h

# Ignore all targets in ffi
ffi/struct_printer/target/

# Ignore everything in build/
*/build
*/target

# CMake ignores
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
CMake
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Rust
Cargo.lock

# Windows (VS and the rest)
.vscode/settings.json
ffi/CMakeSettings.json
ffi/.vs/CMake Overview
ffi/.vs/cmake.db
ffi/.vs/ProjectSettings.json
ffi/.vs/slnx.sqlite
ffi/.vs/VSWorkspaceState.json
ffi/.vs/ffi/v16/.suo
ffi/.vs/ffi/v16/Browse.VC.db
ffi/out/build/x64-Debug/.ninja_deps
ffi/out/build/x64-Debug/.ninja_log
ffi/out/build/x64-Debug/build.ninja
ffi/out/build/x64-Debug/rules.ninja
ffi/out/build/x64-Debug/VSInheritEnvironments.txt
ffi/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-bc545a294f0dded8087f.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-cdf04f55d03b16acef67.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-9e64d2da6cf4281a009b.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/index-2020-04-18T21-32-10-0402.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/target-printer-Debug-e21cefaac9d9607c9d3b.json
ffi/out/build/x64-Debug/.cmake/api/v1/reply/target-struct_printer-Debug-693f71b2eef83abae8c3.json
ffi/.vs/ffi/v16/ipch/AutoPCH/653fd6ac0f2d1940/MAIN.ipch
ffi/struct_printer/Cargo.lock